@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    font-size: 20px;
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.cajacentro {
    font-family:'Quicksand', sans-serif;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin: 12% auto !important;
    width: 800px;
    height: 100%;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    color: whitesmoke;
    padding:55px;   
    border-radius: 4px;
}

h5{
    width: 300px;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    border: 1px solid #112B3C;
    border-radius: 10px;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
.padre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hijo, .operaciones{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}
.btn{
    margin-top: 15px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 10px;
    
}
input{
    margin: 15px 0px;
    padding: 5px;
    width: 300px;
    color: black;
    border: none;
    border-radius: 10px;
    text-align: center;
}
footer{
    text-align: center;
    color: #112B3C;
    font-family:'Quicksand', sans-serif;
}