@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    font-size: 24px;
    font-family:'Quicksand', sans-serif;
}

h1 {
    font-size: 20px;
}

.cajacentro {
    font-family:'Quicksand', sans-serif;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin: 12px auto;
    width:600px;
    height:400px;
    background:linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    color:#060608;
    padding:50px;   
    border-radius: 4px;
}

h5{
    width: 300px;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    border: 1px solid #112B3C;
    border-radius: 10px;
}

.invisible{
    display: none;
}
.visible{
    display: block;
}
.padre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hijo, .operaciones{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.label {
    font-size: 20px;
}

.btn{
    margin-top: 15px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 10px;
}


input{
    margin: 15px 0px;
    padding: 5px;
    width: 300px;
    color: black;
    border: none;
    border-radius: 10px;
    text-align: center;
}
footer{
    text-align: center;
    color: #112B3C;
    font-family:'Quicksand', sans-serif;
}